#wrapper {
  display: flex;
  flex-direction: column;

  #logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #logo {
      height: 50%;
      width: 60%;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    font-family: "Helvetica Neue", sans-serif;
    max-width: 100%;
    height: 50vh;

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 0;
      height: 0;
      background-color: #2b2d3013;
      animation: 0.7s grow ease forwards;
      text-align: center;

      .nav_list {
        list-style-type: none;

        a {
          text-decoration: none;
          font-size: 20px;
          color: #f3f5ff;
        }

        .nav_list_item {
          overflow: hidden;

          li {
            padding: 15px 0;
            text-transform: uppercase;
            transform: translateY(200px);
            opacity: 0;
            animation: 0.5s slideUp ease forwards 0.5s;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              height: 2px;
              width: 0;
              left: 0;
              bottom: 10px;
              background: #bf2e97;
              transition: all 0.5s ease;
            }

            &:hover::before {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @keyframes grow {
    100% {
      height: 90%;
      width: 90%;
    }
  }

  @keyframes slideUp {
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
