<div id="wrapper">
  <div id="logo-container">
    <img id="logo" src="../../../assets/hangman_title.png" alt="logo" />
  </div>

  <div class="container">
    <div class="content shadow-lg rounded card-container">
      <div class="nav">
        <ul class="nav_list">
          <div class="nav_list_item">
            <li>
              <a routerLink="/game">
                <img src="../../../assets/joystick.svg" alt="" />
                Start Game</a
              >
            </li>
          </div>
          <div class="nav_list_item">
            <li>
              <a href="#">
                <img src="../../../assets/help.svg" alt="" />
                Instructions</a
              >
            </li>
          </div>
          <div class="nav_list_item">
            <li>
              <a href="#">
                <img src="../../../assets/about.svg" alt="" />
                About</a
              >
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
