<div id="wrapper">
  <div class="head-division"></div>
  <div id="logo-container" class="mt-5">
    <img id="logo" src="../../../assets/hangman_title.png" alt="logo" />
  </div>

  <div class="content">
    <app-home-option
      logo="../../../assets/help.svg"
      title="INSTRUCTIONS"
      route="/instructions"
    ></app-home-option>

    <app-home-option
      logo="../../../assets/joystick.svg"
      title="START GAME"
      route="/game"
      class="top-tile"
    ></app-home-option>

    <app-home-option
      logo="../../../assets/about.svg"
      title="ABOUT"
      route="/about"
    ></app-home-option>
  </div>
  <app-tips-slider class="tips-container"></app-tips-slider>
</div>
