@import "../../Styles/palette.scss";

#wrapper {
  .head-division {
    background: #ffffff;
    height: 1px;
    opacity: 0.2;
    mix-blend-mode: difference;
  }
  display: flex;
  flex-direction: column;
  height: calc(100vh - $header-size-destop);
  background: url("../../../assets/hangman-banner.png");
  background-size: 100%;

  #logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 70px rgba(0, 0, 0, 0.2);

    #logo {
      width: 50%;
      filter: brightness(0) invert(1);
      opacity: 0.9;
    }
  }

  .content {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 6rem;
    .top-tile {
      margin-bottom: 4.5rem;
    }
  }
  .tips-container {
    margin-top: auto;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  #wrapper {
    height: calc(100vh - $header-size-mobile);
    #logo-container {
      #logo {
        width: 100%;
      }
    }

    .content {
      margin-top: 3rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .top-tile {
        margin-bottom: unset;
        order: -1;
      }
    }
    .tips-container {
      margin-left: 10px !important;
      margin-right: 10px !important;
      margin-bottom: 5rem;
    }
  }
}
