@import "../../Styles/palette.scss";
$rain: #2c384541;
$drain: #4a576442;
$title: #131f2b;

* {
  box-sizing: border-box;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  margin-bottom: 26px;
  gap: 12px;

  img {
    filter: $svg-filter;
    width: 40px;
  }
  span {
    font-size: 2.2rem;
    margin-top: 10px;
    color: white;
    font-family: courier, "Courier New", Courier, monospace;
  }
}

.table-container {
  background-color: $rain;
  margin: 0px 100px;

  table {
    width: 100%;
    font-family: courier, "Courier New", Courier, monospace;
    text-transform: uppercase;

    thead {
      tr {
        border-top: none;
      }
      th {
        text-align: center;
        background-color: $title;
        color: #fff;
        padding: 16px 0px;
        .head-content {
          span {
            font-size: 1.2rem;
          }
          img {
            width: 22px;
            height: 22px;
            margin-right: 8px;
            filter: $svg-filter;
          }
        }
      }
    }
    tbody {
      display: block;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 240px);

      tr {
        border-top: 6px solid black;
        &:nth-child(2n + 2) {
          td {
            background-color: $drain;
          }
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }

      td {
        padding: 14px 0px;
        text-align: center;
        color: rgb(228, 148, 0);
        font-size: 1.1rem;
        font-family: bradley hand, cursive;
      }
      .rank {
        color: white;
        font-weight: bolder;
      }
      .username {
        font-family: Verdana, sans-serif;
        color: rgb(255, 255, 255);
      }
      .round {
        font-weight: bold;
        color: white;
      }
      .score {
        font-weight: bold;
      }
    }
  }
}
thead,
tr,
tbody {
  display: table;
  width: 100%;
  table-layout: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #55515f;
}
.error-msg {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  margin-right: 6px;
  align-items: center;
  margin-top: 10rem;
  gap: 1rem;
  img {
    width: 80px;
  }
  p {
    text-align: center;
    line-height: 1.8rem;
  }
}
@media only screen and (max-width: 576px) {
  .heading {
    margin-bottom: 10px;
    img {
      width: 30px;
    }
    span {
      font-size: 1.5rem;
    }
  }
  .table-container {
    margin: 0px 10px;

    table {
      thead {
        th {
          padding: 10px 0px;
          .head-content {
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;

            span {
              font-size: 0.8rem;
            }
            img {
              width: 18px;
              height: 18px;
              margin-right: 0px;
            }
          }
        }
      }
      tbody {
        tr {
          border-top: 3px solid black;
        }

        td {
          padding: 8px 0px;
          font-size: 0.7rem;
        }
      }
    }
  }
  .error-msg {
    p {
      font-size: 1rem;
    }
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
}
