<div class="heading">
  <p>LEADERBOARD</p>
</div>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Highest Round</th>
        <th>Highscore</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of leaderboards; index as i">
        <td>#{{ i + 1 }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.highestRound }}</td>
        <td>{{ item.highscore }}</td>
      </tr>
    </tbody>
  </table>
</div>
