@import "../../../styles.scss";
$rain: #2c384541;
$drain: #4a576442;
$title: #131f2b;

* {
  box-sizing: border-box;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  margin-bottom: 26px;
  gap: 12px;

  img {
    filter: $svg-filter;
    width: 40px;
  }
  span {
    font-size: 2.2rem;
    margin-top: 10px;
    color: white;
    font-family: courier, "Courier New", Courier, monospace;
  }
}

.table-container {
  background-color: $rain;
  margin: 0px 100px;

  table {
    width: 100%;
    font-family: courier, "Courier New", Courier, monospace;
    text-transform: uppercase;

    thead {
      tr {
        border-top: none;
      }
      th {
        text-align: center;
        background-color: $title;
        color: #fff;
        padding: 16px 0px;
        font-size: 1.2rem;
        img {
          width: 22px;
          height: 22px;
          margin-right: 8px;
          filter: $svg-filter;
        }
      }
    }
    tbody {
      display: block;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 240px);

      tr {
        border-top: 6px solid black;
        &:nth-child(2n + 2) {
          td {
            background-color: $drain;
          }
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }

      td {
        padding: 14px 0px;
        text-align: center;
        color: rgb(228, 148, 0);
        font-size: 1.1rem;
        font-family: bradley hand, cursive;
      }
      .rank {
        color: white;
        font-weight: bolder;
      }
      .username {
        font-family: Verdana, sans-serif;
        color: rgb(255, 255, 255);
      }
      .round {
        font-weight: bold;
        color: white;
      }
      .score {
        font-weight: bold;
      }
    }
  }
}
thead,
tr,
tbody {
  display: table;
  width: 100%;
  table-layout: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #55515f;
}
