@import "../../../styles.scss";

$text-color: rgb(255, 254, 247);
$login-btn-color: $theme-foreground;
.navbar {
  font-family: "helvetica", sans-serif;
  height: 60px;
  background: none !important;
  .container-fluid {
    .navbar-brand {
      img {
        width: 40px;
      }
    }
    .content {
      .navbar-nav {
        margin-left: 16px;
        .nav-item {
          margin-right: 16px;

          a {
            color: $text-color;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            img {
              width: 18px;
              filter: $svg-filter;
              margin-bottom: 4px;
            }
            &:hover {
              transform: scale(1.06);
            }
          }
        }
      }
      .login-panel {
        display: flex;
        gap: 8px;
        .login-btn {
          background: none;
          color: $login-btn-color;
          font-size: 1.1rem;
          padding: 4px 10px;
          border-radius: 16px;
          &:hover {
            background: $login-btn-color;
            color: white;
          }
        }
        #login {
          border: 0;
        }
        #sign-up {
          border: 1px solid $theme-foreground;
        }
      }
      .user-panel {
        display: flex;
        gap: 16px;
        .profile-panel {
          display: flex;
          align-items: center;
          gap: 3px;
          img {
            width: 24px;
            height: 24px;
            filter: $svg-filter;
          }
          span {
            color: rgb(255, 255, 255);
            font-size: 1.1rem;
            text-transform: capitalize;
          }
        }
        .signout-btn {
          background: none;
          padding: 4px 10px;
          color: red;
          border-radius: 16px;
          background: rgba(255, 0, 0, 0.068);
          border: 1px solid red;
          &:hover {
            background: red;
            color: white;
          }
        }
      }
    }
  }
}

.activeLink {
  padding-bottom: 2px;
  border-bottom: 1px solid $theme-foreground;
  width: 100%;
}
