$card-background-dark: #1d1d1d49;

#scorePanel {
  display: flex;
  flex: 1;
  background-color: $card-background-dark;
  > p {
    flex: 1;
    margin: 0;
    font-size: 18px;
    white-space: pre;
    color: white;
  }
}

@media only screen and (max-width: 576px) {
  #scorePanel {
    p {
      font-size: 16px;
    }
  }
}
