<div class="tools-container">
  <div class="user-remove-panel">
    <label>REMOVE USER</label>
    <div class="input-wrapper">
      <input #username type="text" class="form-control" />
      <button (click)="removeUser(username.value)" class="user-submit">
        Delete
      </button>
    </div>
  </div>
  <div class="stat-reset">
    <button (click)="resetStats()">Reset Statistics</button>
  </div>
  <div class="update-movies">
    <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event)">
</div>
  </div>
</div>
