$movieGuesserColor: black;

.gameColumn {
  height: 320px;
}
#gameArea {
  flex: 75%;
}
#hangArea {
  display: flex;
  flex: 25%;
  align-items: center;
}
#gameWrapper {
  display: flex;
}
#movieGuesser {
  font-size: 2.6vw;
  text-align: center;
  margin: 0px;
  height: 320px;
  line-height: 320px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $movieGuesserColor;
}
.blinkRed {
  animation: errorBlink 0.5s 1;
}

#errorBuffer {
  font-size: 2vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
}

#hangImage {
  margin: auto;
  display: block;
}

#gamePanel {
  margin-bottom: 2rem !important;
}

#messageBox {
  margin: 0px;
  text-align: center;
}

