@import "../../../styles.scss";

.gameColumn {
  height: 320px;
}
#gameArea {
  flex: 75%;
}
#hangArea {
  display: flex;
  flex: 25%;
  align-items: center;
}
#gameWrapper {
  display: flex;
}
#movieGuesser {
  font-size: 2.6vw;
  text-align: center;
  margin: 0px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.blinkRed {
  animation: errorBlink 0.5s 1;
}
#gamePanel {
  margin-bottom: 2rem !important;
}

#errorBuffer {
  font-size: 2vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
}

#hangImage {
  margin: auto;
  display: block;
}

#messageBox {
  margin: 0px;
  text-align: center;
}

.fab-container {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.Togglebutton {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #363636;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dark-mode-icon {
  height: 60%;
  width: 60%;
}
.darkModeButton{
  background: rgb(27, 27, 27);
  #dark-mode-icon {
    filter:invert(1);
  }
}
