<app-scorebar [round]="Round" [score]="Score"></app-scorebar>
<div id="gamePanel" class="mx-5 shadow-lg p-3 mb-5 bg-white rounded">
  <app-progressbar #progress [value]="progressValue"></app-progressbar>
  <div id="gameWrapper">
    <div id="gameArea" class="gameColumn">
      <p id="movieGuesser" [style.color]="guessBlinker">{{template.join('')}}</p>
    </div>
    <div id="hangArea" class="gameColumn">
      <div>
        <img id="hangImage" src="assets/hangman{{Lives-lives}}.png" alt="lives" />
        <p id="errorBuffer"  [style.color]="errorBlinker">{{ wrongBuffer.join('')}}</p>
      </div>
    </div>
  </div>
</div>
<div class="mx-5 shadow-lg p-2 bg-white rounded">
  <p [innerHTML]="panelMessage" id="messageBox" class="lead"></p>
</div>
