<div class="login-signup-container">
  <div class="left-panel"></div>
  <div class="right-panel">
    <div class="switch-page">
      <span
        (click)="page = Login.LOGIN"
        [ngClass]="{ selected: page === Login.LOGIN }"
        >LOGIN</span
      >
      <span
        (click)="page = Login.SIGNUP"
        [ngClass]="{ selected: page === Login.SIGNUP }"
        >SIGN UP</span
      >
    </div>
    <div class="loginBox" *ngIf="page === Login.LOGIN">
      <img class="user regular" src="../../../assets/profile-icon.png" />
      <h4 class="lead">Sign in</h4>
      <form action="1" method="post">
        <div class="form-wrapper">
          <label for="">Username</label>
          <input type="text" class="form-control" />
        </div>

        <div class="form-wrapper">
          <label for="">Password</label>
          <input type="password" class="form-control" />
        </div>
        <input type="submit" name="" value="Login" />
      </form>
    </div>
    <div class="loginBox" *ngIf="page === Login.SIGNUP">
      <img class="user small" src="../../../assets/profile-icon.png" />
      <form action="2" method="post">
        <div class="form-group">
          <div class="form-wrapper">
            <label for="">First Name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="form-wrapper">
            <label for="">Last Name</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="form-wrapper">
          <label for="">Username</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-wrapper">
          <label for="">Password</label>
          <input type="password" class="form-control" />
        </div>
        <div class="form-wrapper">
          <label for="">Confirm Password</label>
          <input type="password" class="form-control" />
        </div>

        <input type="submit" name="" value="Register" />
      </form>
    </div>
  </div>
</div>
