<div class="gameplay-container mx-5">
  <app-keyboard-toggle
    (toggle)="toggleKeyboardVisibility($event)"
  ></app-keyboard-toggle>
  <app-scorebar style="width: 100%"></app-scorebar>

  <div class="game-panel shadow-lg p-3 mb-2 rounded card-container">
    <app-progressbar></app-progressbar>
    <div class="name-hang-container">
      <app-num-warn *ngIf="isDigitPresent" class="digits-warner"></app-num-warn>
      <div id="gameArea">
        <p
          id="movieGuesser"
          class="text not-selectable"
          [style.color]="guessBlinker"
        >
          {{ round.template.join("") }}
        </p>
      </div>
      <div id="hangArea">
        <img
          id="hangImage"
          src="assets/hang-states/hangman{{ Lives - round.lives }}.png"
          alt="lives"
        />
        <p id="errorBuffer" [style.color]="errorBlinker">
          {{ round.wrongBuffer.join("") }}
        </p>
      </div>
    </div>
  </div>
  <app-message-panel
    style="width: 100%"
    [key]="pressedKey"
    [type]="panelMsgType"
  ></app-message-panel>

  <app-virtual-keypad
    *ngIf="isKeyboardVisible"
    class="mt-3"
    style="width: 100%"
    [keyStates]="keys"
    [digits]="isDigitPresent"
    (keyClick)="process($event)"
  ></app-virtual-keypad>
</div>
