<div class="gameplay-container mx-5">
  <app-scorebar style="width: 100%"></app-scorebar>

  <div
    class="game-panel mx-5 shadow-lg p-3 mb-2 rounded card-container"
    [ngClass]="{ 'wrapbox-light': !isDarkMode }"
  >
    <app-progressbar></app-progressbar>
    <div class="name-hang-container">
      <div id="gameArea">
        <p
          id="movieGuesser"
          class="text"
          [style.color]="guessBlinker"
          [ngClass]="{ 'text-light-theme': !isDarkMode }"
        >
          {{ round.template.join("") }}
        </p>
      </div>
      <div id="hangArea">
        <img
          id="hangImage"
          src="assets/hangman{{ Lives - round.lives }}.png"
          alt="lives"
        />
        <p
          id="errorBuffer"
          [style.color]="errorBlinker"
          [ngClass]="{ 'text-light-theme': !isDarkMode }"
        >
          {{ round.wrongBuffer.join("") }}
        </p>
      </div>
    </div>
  </div>
  <app-message-panel
    style="width: 100%"
    [key]="pressedKey"
    [type]="panelMsgType"
  ></app-message-panel>
</div>
