@import "../../Styles/palette.scss";

.gameplay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $header-size-destop);
  max-width: 100vw;
  .game-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    .name-hang-container {
      display: flex;

      #gameArea {
        flex-grow: 1;
        #movieGuesser {
          font-size: 2.6vw;
          text-align: center;
          margin: 0px;
          height: 320px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          letter-spacing: 5px;
        }
      }
      #hangArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        #errorBuffer {
          font-size: 2vw;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 15px;
        }
        #hangImage {
          margin: auto;
          display: block;
          filter: invert(1);
        }
      }
    }
  }
}
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
