<div id="wrapper">
  <div class="container">
    <div class="content">
      <div class="nav">
        <ul class="nav_list">
          <div class="nav_list_item">
            <li><a routerLink="/game">Start Game</a></li>
          </div>
          <div class="nav_list_item">
            <li><a href="#">About</a></li>
          </div>
          <div class="nav_list_item">
            <li><a href="#">Products</a></li>
          </div>
          <div class="nav_list_item">
            <li><a href="#">Services</a></li>
          </div>
          <div class="nav_list_item">
            <li><a href="#">Contact</a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
