$border-color: rgb(79, 79, 79);
.page-container {
  margin-left: 40px;

  .career-stats {
    color: white;
    margin-top: 50px;
  }
  .hr-bar {
    border-bottom: 3px solid $border-color;
    width: 755px;
    margin: 10px 0px;
  }
  .stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .page-container {
    margin-left: 0px;
    padding: 10px;
    .career-stats {
      font-size: 1.1rem;
      text-align: center;
    }
    .hr-bar {
      width: 100%;
      margin-bottom: 15px;
    }
    .stats-container {
      justify-content: center;
    }
  }
}
