@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "ngx-toastr/toastr-bs5-alert";

$card-background-dark: #1d1d1d49;
$body-dark: #131313;
$body-light: #fff9f1;
$card-background-light: white;
$text-light: black;
$text-dark: white;
$svg-filter: invert(46%) sepia(99%) saturate(1986%) hue-rotate(12deg)
  brightness(105%) contrast(101%);

body {
  background-color: $body-dark;
}
.dark {
  background-color: $body-dark;
}
.light {
  background-color: $body-light;
}
.card-container {
  background-color: $card-background-dark;
}

.wrapbox-light {
  background-color: $card-background-light !important;
}
.text {
  color: $text-dark;
}
.text-light-theme {
  color: $text-light !important;
}

html,
body {
  height: 100%;
  background-image: url("./assets/hangman-bg.png");
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
