@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "ngx-toastr/toastr-bs5-alert";

$card-background-dark: #1d1d1d49;
$body-dark: #131313;
$body-light: #fff9f1;
$text-light: black;
$text-dark: white;

body {
  background-color: $body-dark;
}
.dark {
  background-color: $body-dark;
}
.light {
  background-color: $body-light;
}
.card-container {
  background-color: $card-background-dark;
}

.text {
  color: $text-dark;
}

.toast-top-right {
  top: 70px;
}

html,
body {
  height: 100%;
  background-image: url("./assets/hangman-bg.png");
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.headerOptionBackdrop {
  backdrop-filter: blur(16px);
}

.mdc-dialog__surface {
  background-color: transparent !important;
  box-shadow: none !important;
}
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
