<div class="container text-white">
  <h1 class="text-center mb-4">INSTRUCTIONS</h1>
  <p class="mb-5 lead lh-base">
    Dive into the unknown with a random movie selection. Start guessing the
    movie's letters one by one, just Be cautious! Too many wrong guesses, and
    our stick figure will go from movie hero to "uh-oh" zero! Showtime! If you
    correctly guess the movie, you'll feel like you just won an Oscar and earn
    points based on your outstanding performance.
  </p>
  <div class="ins-container flex-row-reverse">
    <div class="text-content">
      <h3 class="ins-title lead">GAMEPLAY</h3>
      <p class="lh-base">
        Your goal is to guess the movie title within 60 seconds. Each round
        consists of a different movie title to guess. Successfully guessing the
        movie will take you to the next round.
        <br />
        <br />
        You start with 6 lives. Each incorrect guess will deduct one life. If
        you run out of lives before guessing the movie, the game will end.
        <br />
        <br />
        The game will display a series of underscores representing the letters
        in the movie title. To guess a letter, simply press the corresponding
        key on your keyboard.
        <br />
        <br />
        If the letter you guessed is present in the movie title, it will be
        revealed in the correct positions in the title. If the letter you
        guessed is not in the movie title, one life will be deducted, and you
        will be notified of the incorrect guess.
      </p>
    </div>
    <div class="img-wrapper">
      <img src="../../../assets/help-page-home.png" alt="img" />
    </div>
  </div>

  <div class="ins-container">
    <div class="text-content">
      <h3 class="ins-title lead mb-4">LEADERBOARD</h3>
      <p class="big-p">
        The leaderboard showcases players based on their highscores. The higher
        the score, the better your chances of climbing the ranks. Prepare for a
        fierce battle of wits and movie knowledge!
        <br />
        <br />
        The leaderboard also reveals the highest round reached by each player.
        Aim high and push your limits to claim your spot among the elite.
        <br />
        <br />
        Our leaderboard proudly presents the top 50 players who have proven
        their prowess in the game. Will you be able to crack the code and make
        it to this prestigious list?
      </p>
    </div>
    <div class="img-wrapper">
      <img src="../../../assets/help-page-leaderboard.png" alt="img" />
    </div>
  </div>
  <div class="ins-container flex-row-reverse">
    <div class="text-content">
      <h3 class="ins-title lead">STATS</h3>
      <p class="big-p">
        Dear movie aficionado, embrace the challenge, dive into the world of
        movies, and let your stats speak for themselves
        <br /><br />
        Keep track of your Games Played, push your limits with the Highest
        Round, showcase your best performance with the Highest Score, and find
        out your Global Rank among movie enthusiasts worldwide.
        <br /><br />
        Unleash your inner movie genius and conquer the game! Remember, in this
        game, you can be a blockbuster hero without leaving the comfort of your
        couch. So grab your popcorn, and let the movie magic unfold!
      </p>
    </div>
    <div class="img-wrapper">
      <img src="../../../assets/help-page-stats.png" alt="img" />
    </div>
  </div>
</div>
