@import "../../../styles.scss";
.container {
  display: flex;
  flex-direction: column;

  .ins-container {
    display: flex;
    justify-content: start;
    margin-top: 30px;
    width: 100%;
    .text-content {
      flex: 1 1 0;
      .ins-title {
        color: $theme-foreground;
        font-size: 1.2rem;
        margin-bottom: 12px;
        text-align: center;
      }
      p {
        font-size: 0.9rem;
      }
      .big-p {
        font-size: 1rem;
      }
    }
  }
  .img-wrapper {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    img {
      width: 500px;
    }
  }
}
