@import "../../../styles.scss";
$white: #fff;
$font-family_1: sans-serif;
$card-color-dark: url("../../../assets/hangman-bg.png");
.dialog-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  background: $card-color-dark;
  .switch-page {
    display: flex;
    width: 100%;

    span {
      flex-basis: 50%;
      padding: 6px 0px;
      text-align: center;
      color: #ffffff;
      &:hover {
        background-color: rgb(13, 9, 43);

        cursor: pointer;
      }
    }
  }
  .loginBox {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    flex-grow: 1;
    .form-group {
      display: flex;
      .form-wrapper {
        width: 50%;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
    .form-wrapper {
      margin-bottom: 10px;
      label {
        margin-bottom: 2px;
        margin-left: 6px;
        display: block;
        font-weight: 300;
        font-size: 0.8rem;
        color: #d6d6d6;
      }
    }
    .form-control {
      border: 1px solid #ccc;
      color: whitesmoke;
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 20px;
      border-radius: 20px;
      font-family: "Muli-Bold";
      background: none;
      &:focus {
        border: 1px solid #7476ff;
      }
    }

    input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      margin-top: 8px;
      font-size: 16px;
      width: 100%;
      background: #59238f;
      color: $white;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

.user {
  margin: 0 auto;
  display: block;
  margin-bottom: 16px;
  filter: $svg-filter;
}

h4 {
  margin: 0;
  padding: 0 0 10px;
  color: white;
  text-align: center;
}

.selected {
  border-bottom: 3px solid #59238f;
}
.regular {
  width: 100px;
  height: 100px;
}
.small {
  width: 50px;
  height: 50px;
}
:focus {
  box-shadow: none !important;
}

.text-danger {
  font-size: 0.7rem;
}
