@import "../../../styles.scss";
$white: #fff;
$font-family_1: sans-serif;
$card-color-dark: radial-gradient(
  circle,
  rgba(9, 26, 47, 1) 0%,
  rgba(6, 20, 36, 1) 100%
);
$input-background-color: #324052;

.dialog-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  background: $card-color-dark;
  .dialog-title {
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    margin-top: 18px;
  }
  .switch-page {
    display: flex;
    width: 100%;

    span {
      flex-basis: 50%;
      padding: 6px 0px;
      text-align: center;
      color: #ffffff;
      &:hover {
        background-color: rgb(30, 26, 61);
        cursor: pointer;
      }
    }
  }
  .loginBox {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    flex-grow: 1;
    .registration {
      color: white;
      text-align: center;
      font-size: 1.3rem;
    }
    .form-group {
      display: flex;
      .form-wrapper {
        width: 50%;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
    .form-wrapper {
      margin-bottom: 26px;
    }
    .form-control {
      border: 1px solid $input-background-color;
      color: white;
      display: block;
      width: 100%;
      height: 50px;
      padding: 0 20px;
      border-radius: 8px;
      background-color: $input-background-color;
      &:focus {
        background: #3f5066;
      }
    }

    input[type="submit"] {
      border: none;
      outline: none;
      height: 50px;
      font-family: "Gill Sans", "Gill Sans MT", sans-serif;
      font-weight: bold;
      margin-top: 8px;
      font-size: 1.1rem;
      width: 100%;
      background: $theme-foreground;
      color: $white;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

.user {
  margin: 0 auto;
  display: block;
  margin-bottom: 28px;
  width: 100px;
}

h4 {
  margin: 0;
  padding: 0 0 10px;
  color: white;
  text-align: center;
}

.selected {
  border-bottom: 3px solid $theme-foreground;
}

.small {
  width: 50px;
  height: 50px;
}
:focus {
  box-shadow: none !important;
}

.text-danger {
  font-size: 0.7rem;
  position: absolute;
  margin-top: 2px;
}
::placeholder {
  color: white;
  opacity: 0.7;
}
