<div class="dialog-container">
  <div class="switch-page">
    <span
      (click)="page = Login.LOGIN"
      [ngClass]="{ selected: page === Login.LOGIN }"
      >LOGIN</span
    >
    <span
      (click)="page = Login.SIGNUP"
      [ngClass]="{ selected: page === Login.SIGNUP }"
      >SIGN UP</span
    >
  </div>
  <h2 class="dialog-title">HANGMAN</h2>
  <div class="loginBox" *ngIf="page === Login.LOGIN">
    <img class="user regular" src="../../../assets/hangman-menu-logo.png" />
    <h4 class="lead mb-3" style="font-size: 1.5rem">Sign in</h4>
    <form
      class="form px-4"
      [formGroup]="loginForm"
      (ngSubmit)="onLoginSubmit()"
    >
      <div class="form-wrapper">
        <input
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Username"
        />
        <span
          class="text-danger"
          *ngIf="
              (loginFormControl['username'].touched || loginSubmitted) &&
              loginFormControl['username'].errors?.['required']
            "
        >
          Username is required
        </span>
      </div>

      <div class="form-wrapper">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
        <span
          class="text-danger"
          *ngIf="
              (loginFormControl['password'].touched || loginSubmitted) &&
              loginFormControl['password'].errors?.['required']
            "
        >
          Password is required
        </span>
      </div>
      <input
        *ngIf="!(Spinner.visibility | async)"
        type="submit"
        name=""
        value="Log in"
      />
      <div
        *ngIf="Spinner.visibility | async"
        class="mt-3 d-flex justify-content-center"
      >
        <mat-spinner [diameter]="50"> </mat-spinner>
      </div>
    </form>
  </div>
  <!--REGISTRATION FORM-->
  <div class="loginBox" *ngIf="page === Login.SIGNUP">
    <h3 class="lead registration mb-4 mt-2">Create your account here</h3>
    <form
      class="form regForm"
      [formGroup]="registerForm"
      (ngSubmit)="onRegisterSubmit()"
    >
      <div class="form-group">
        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            placeholder="First Name"
          />
          <span
            class="text-danger"
            *ngIf="
                (registerFormControl['firstName'].touched ||
                  registerSubmitted) &&
                registerFormControl['firstName'].errors?.['required']
              "
          >
            Name is required
          </span>
        </div>
        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            placeholder="Last Name"
          />
          <span
            class="text-danger"
            *ngIf="
                (registerFormControl['lastName'].touched ||
                  registerSubmitted) &&
                registerFormControl['lastName'].errors?.['required']
              "
          >
            Name is required
          </span>
        </div>
      </div>
      <div class="form-wrapper">
        <input
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Username"
        />
        <span
          class="text-danger"
          *ngIf="
              (registerFormControl['username'].touched || registerSubmitted) &&
              registerFormControl['username'].errors?.['required']
            "
        >
          Username is required
        </span>
        <span
          class="text-danger"
          *ngIf="
              registerFormControl['username'].touched &&
              registerFormControl['username'].errors?.['userNameNotAvailable']
            "
        >
          Username is not available
        </span>
        <span
          class="text-danger"
          *ngIf="
              registerFormControl['username'].touched &&
              registerFormControl['username'].errors?.['minlength']
            "
        >
          Username should be atleast 4 characters
        </span>
      </div>
      <div class="form-wrapper">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
        <span
          class="text-danger"
          *ngIf="
              (registerFormControl['password'].touched || registerSubmitted) &&
              registerFormControl['password'].errors?.['required']
            "
        >
          Password is required
        </span>
        <span
          class="text-danger"
          *ngIf="
              registerFormControl['password'].touched &&
              registerFormControl['password'].errors?.['invalidPassword']
            "
        >
          Password should have minimum 6 characters
        </span>
      </div>
      <div class="form-wrapper">
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <span
          class="text-danger"
          *ngIf="
              (registerFormControl['confirmPassword'].touched ||
                registerSubmitted) &&
              registerFormControl['confirmPassword'].errors?.['required']
            "
        >
          Confirm Password is required
        </span>
        <span
          class="text-danger"
          *ngIf="
              registerFormControl['confirmPassword'].touched &&
              registerFormControl['confirmPassword'].errors?.['passwordMismatch']
            "
        >
          Passwords does not match
        </span>
      </div>

      <input
        *ngIf="!(Spinner.visibility | async)"
        type="submit"
        name=""
        value="Register"
      />
      <div
        *ngIf="Spinner.visibility | async"
        class="mt-3 d-flex justify-content-center"
      >
        <mat-spinner [diameter]="50"> </mat-spinner>
      </div>
    </form>
  </div>
</div>
